body {
    margin: 0;
    padding: 0;
}

.text-center h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

#app {
    width: 800px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.note {
    height: 200px;
    box-sizing: border-box;
    margin: 20px;
    border: none;
    resize: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
}


.tambah_node {
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    transition: background 2s;
}

.tambah_node:hover {
    background: rgba(0, 0, 0, 0.9);
}
